@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff;
}
a {
  color: #000;
}

.detail_nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  background-color: #cefafd;
}

.details_links--home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
.details-nav_icon{
  height: 50px;
  widht: 50px;
}
.section_ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 10px;
  background-color: #fff;
}
.details_ctn{
  display: flex;
  justify-content: space-between;
  min-width: 90%;
  min-height: 95%;
  border-radius: 5px;
  font-family: "Playfair Display", serif;
  box-shadow: 1px 1px 80px rgba(189, 248, 240, 0.3);
  overflow: hidden;
}

.details_img{
  max-height: 550px;
  width: 60%;
  padding: 20px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 1s 3.5s cubic-bezier(.59,.07,.67,-0.06) forwards;
}

.details_texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translate(100%);
  animation: show 2s ease forwards, move 1s 2s forwards;
}

.details_name {
  min-width: 90%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.detail_ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  margin-bottom: 20px;
}

.detail_title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0px 2px 5px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #cefafd;
}

.detail_info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0px 2px 5px 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.details_icon{
  margin: 0px 10px;
}
.title--transform{
  margin-bottom: 20px;
  font-family: "Lato", serif;
  font-size: large 4.5rem;
  transform: translate(20%);
  animation: move 1s 2s forwards;
}

.icon{
  padding-right: 5px ;
}

.spn-lnd{
  font-size: 27px;
}

.details_error{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-weight: 600;
}

@keyframes show{
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes move{
  to{
    transform: translate(0);
  }
}
