@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

.pages_ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pages_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #dba657;
    font-family: 'Lato', serif;
    font-weight: bold;
}
.pages_num{
    margin: 0px 10px;
    color: #dba657;
    font-family: 'Lato', serif;
    font-weight: bold;
}
.icon_ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.icon{
    color: #dba657;
    margin: 5px 5px;
    cursor: pointer;
    padding-left: 5px;
}

.icon:hover{
    background-color: #dba657;
    color: #1c0d02;
    border-radius: 50px;
}