.container_filters{
  position: relative;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-around;
  height: 35px;
  width: 100%;
  background-color:#fff3b0;
  border: none;
  z-index: 0;
}
