@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-ctn{
  font-family: "Playfair Display", serif;
  display: flex;
  height: 100vh;
  background-color: #ede8e2;
}
.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
  margin: auto;
  height: 90vh;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 30px -10px rgba(138, 135, 135, 0.5);
}

.grid::before{
  content: "";
  grid-column: 5/-1;
  grid-row: 1/-1;
  background-image: url(../../assets/perro.gif);
  background-size: cover;
  background-position: right top;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: show 2s 3.5s cubic-bezier(.59,.07,.67,-0.06) forwards;
}

.grid__texts{
  grid-row: 1/-2;
  grid-column: 1/8;
  padding-left: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translate(50%);
  animation: show 2s ease forwards, move 1s 2s forwards;
}

.grid__title {
  font-size: 6rem;
}

.title--transform{
  color: #26ccd8;
  margin-bottom: 20px;
  font-family: "Lato", serif;
  font-size: large 4.5rem;
  transform: translate(20%);
  animation: move 1s 2s forwards;
}

.link-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  margin-left: 5px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  animation: show .5s .5s forwards;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
.link-btn:hover{
  border-radius: 5px;
  border: 1px solid #26ccd8;
}

.lnd_icon{
  padding-right: 5px ;
}

.spn-lnd{
  font-size: 27px;
}

@keyframes show{
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes move{
  to{
    transform: translate(0);
  }
}
